# API Base URL
NUXT_PUBLIC_API_BASE=http://localhost:8000/api/v1

# Public token - read only, no prices (visible en cliente)
NUXT_PUBLIC_API_PUBLIC_TOKEN=your_public_token_here

# Private token - read with prices (solo servidor)
API_PRIVATE_TOKEN=your_private_token_here
